{% extends 'base.html' %} 
{% load static %} 

{% block body %} 
{% if form.non_field_errors %} 
    {% for error in form.non_field_errors %}

        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ error }}</p>
        </div>

    {% endfor %} 

{% endif %} 

{% if form.non_field_errors %} 
    {% for error in form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ error }}</p>
        </div>
    {% endfor %} 
{% endif %}

<div class="bg-white px-3 py-4 rounded-xl my-6">

    <h1 class="font-bold text-3xl text-center pb-5">Update Profile Information</h1>
    <div class="w-full mt-10">
        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"  style="width: 50%; margin: auto; border: 2px solid black; padding: 15px;">
            {% csrf_token %} 
            {% for hidden_field in form.hidden_fields %} 
                {{ hidden_field.errors }} 
                {{ hidden_field }}
            {% endfor %}

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                        {{ form.username.label }}
                    </label> {{ form.username }} {% if form.username.errors %} {% for error in form.username.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
            </div>
           

            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0 mt-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.first_name.id_for_label }}">
                        {{ form.first_name.label }}
                    </label> {{ form.first_name }} {% if form.first_name.errors %} {% for error in form.first_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} 
                    {% endif %}
                </div>

                <div class="w-full md:w-1/2 px-3 mt-3">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.last_name.id_for_label }}">
                        {{ form.last_name.label }}
                    </label> {{ form.last_name }} {% if form.last_name.errors %} {% for error in form.last_name.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
            </div>

            <div class="flex flex-wrap -mx-3 mb-6 mt-3">
                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label> {{ form.email }} {% if form.email.errors %} {% for error in form.email.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
            </div>
           

            {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
            

            <div class="flex items-center justify-between mt-3">
                <button class="btn btn-success bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Update
                </button>
            </div>
            
        </form>
    </div>
</div>
{% endblock %}